* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    background: linear-gradient(to right, #0b486b, #f56217);
}

.grid-container {
    display: flex;
    flex-direction: column;
}                       

.App {

}