* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    background: linear-gradient(to right, #0b486b, #f56217);
    outline: none !important;
    padding: 0px; 
}

.App {
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding-top: 20px;
}