.login {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 1px;
    background-color: whitesmoke;
    margin: 2vh;
    height: 60vh;
}

.login-header {
    margin: 2vh;
}

.login-header-main {
    display: block;
    font-weight: 400;
    font-size: 1.7em;

    animation-name: moveFromLeft;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;    
}

.login-header-sub {
    display: block;
    font-weight: 300;
    font-size: 1.3em;

    animation-name: moveFromRight;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

.sign-up-link {
    border: 1px solid transparent;   
    border-bottom: 1px solid #4b545f;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    padding: 2px;
}

.sign-up-link:hover {   
    cursor: pointer; 
    border-bottom: 1px solid rgb(179, 130, 57);
}

.login-form {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
}

.login-input {
    margin: auto;
    margin-top: 2em;
    font-weight:300;
    font-size: 1em;
    border:0px;
    outline: none;
    color: #4b545f; 
    border-bottom: 1px solid #4b545f;
    background-color: rgba(0,0,0,0);

    transition: all 0.1s ease-in-out;   
    animation-name: moveFromTop;
    animation-duration: 1s;
}

.login-input:focus {
    border-bottom: 1px solid rgb(179, 130, 57);
    transition: all 0.2s ease-in-out;
    transform: translateY(-4px);    
}

.login-button {
    margin-top: 4em;
    font-weight:300;
    font-size: 25px;
    outline: none;
    box-sizing: border-box;
    color: #4b545f;
    background-color: rgba(0,0,0,0);
    transition: all 0.1s ease-in-out;
    outline-style: none !important;   
    padding: 10px;  
    border: 1px solid transparent;
    display: block;
    margin: 2em;

    animation-name: moveFromBottom;
    animation-duration: 1s;
}

.login-button:hover {
    border: 1px solid rgb(179, 130, 57);     
    border-radius: 25px;
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

