.login {
    position: absolute;
    border-radius: 20px;
    box-shadow: 1px 1px 1px;
    width: 90vh;
    height: 60vh;
    margin-top: 5%;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.login-header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.login-header-main {
    display: block;
    font-weight: 400;
    font-size: 1.7em;


    animation-name: moveFromLeft;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    
}

.login-header-sub {
    display: block;
    font-weight: 300;
    font-size: 1.3em;

    animation-name: moveFromRight;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.login-form {    
    text-align:center;
    position: absolute;
    margin: auto;
    display: block;
    top: 70%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}

.login-input {    
    font-weight:300;
    width: 40%;
    font-size: 25px;
    border:0px;
    outline: none;
    box-sizing: border-box;
    color: #4b545f;   
    transition: all 0.1s ease-in-out;    
    border-bottom: 1px solid #4b545f;
    background-color: rgba(0,0,0,0);
    display: block;
    margin: auto;
    margin-bottom: 10px;    

    transition: all 0.2s ease-in-out;
    animation-name: moveFromTop;
    animation-duration: 1s;
}

.login-input:focus {
    border-bottom: 1px solid rgb(179, 130, 57);
    transition: all 0.2s ease-in-out;
    transform: translateY(-4px);    
}

.login-button {
    font-weight:300;
    font-size: 25px;
    border:0px;
    outline: none;
    box-sizing: border-box;
    color: #4b545f;
    background-color: rgba(0,0,0,0);
    transition: all 0.1s ease-in-out;
    outline-style: none !important;   
    padding: 10px;  
    border: 1px solid transparent;
    display: block;
    margin: auto;

    animation-name: moveFromBottom;
    animation-duration: 1s;

}

.login-button:hover {
    border: 1px solid rgb(179, 130, 57);     
    border-radius: 25px;
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

